div#rule-editor {
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 60px;
    width: 90%;
    height: 700px;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightslategray;
    /*background: url(../img/background.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

textarea#id_knowledge {
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    opacity: .5;
}

div#rule-info {
    width: 100%;
}

div#rule-editor-tool {
    display: none;
    position: absolute;
    top: 80px;
    left: 20px;
    width: 90%;
}

div.page-middle {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    height: 400px;
}

div.full-page-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 80%;
}


div.color-card{
    float: left;
    width: 70px;
    height: auto;
    padding: 5px 10px;
}

div.property-card{
    float: left;
    width: 105px;
    height: auto;
    padding: 10px 15px;
    margin: 2px;
}

div.property-relation-card{
    float: left;
    height: auto;
    padding: 10px 15px;
    margin: 2px;
}



div#page-find-missing-property div.default{
    background-color: #9ed900;
}

div#page-find-missing-property div.selected{
    background-color: #ffb61e;
}

div#page-find-missing-property div.warning{
    background-color: #f9906f;
}

div.txt-black{
    color: black;
}

div.txt-white{
    color: white;
}

div.canvas-space {
    overflow-y: auto;
    height: 400px;
}

div.sentence-space {
    overflow-y: auto;
    width: 54%;
    height: 650px;
    float: left;
}

div.save-space {
    margin-left: 10px;
    width: 44%;
    float: left;
    height: 650px;
}

.save-space > textarea {
    height: 100%;
    resize: none;

}

div.row {
    margin: 0 0 5px 0;
    padding: 0 0 0 0;
}

div.panel-pre-set {
    display: none;
    position: fixed;
    width: 30%;
    top: 180px;
    left: 250px;
}
